html {
    scroll-behavior: smooth;
  }
  
.home-background {
    background-color: #eaeef0;
    min-height: 100vh;
}

.m-v-g-container {
    justify-content: space-between;
}

.about-card {
    width: auto;
    margin-right: 10px;
}

.about-content {
    width: calc(100% - 70px);
}

.about-card p {
    margin: 0;
    padding: 0;
    line-height: 22px;
}

.about-icon-container {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.sussess-msg {
    color: green;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(2, 145, 2, 0.15);
}


.loader {
    width: 20px;
    height: 20px;
    border: 3px solid #0294ff;
    border-bottom-color: #b8d7ee;
    border-radius: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    margin-right: 10px;
}

@-webkit-keyframes rotation {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@media(max-width: 780px) {
    .m-v-g-container {
        flex-direction: column;
    }
}
